.nobla-mainbutton {
    display: inline-block;
    vertical-align: top;
    margin: 3px;
    background-color: rgb(236, 245, 245);
    border: 3px solid yellow;
    width: 25vw;
    height: 25vw;
    text-align: center;
    text-decoration: none;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;
    font-size: 4vw;

}

.nobla-mainbutton:hover {
    background-color: rgb(224, 175, 175);
    border: 3px solid yellow;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dab-dance {
  width: 15vw;
}

@media screen and (max-width: 600px) {
    .home-container {
        display: inline-block;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    }


    .nobla-mainbutton, .nobla-mainbutton:hover {
        width: 50vw;
        height: 20vw;
      }
      
      .dab-dance {
        width: 50vw;
        height: 50vw;
      }
    }