.details-card {
    background-color: transparent!important;
    margin: 10px auto;
    text-align: left;
    font-size: 2vw;
    width: 40vw!important;
}

.bungee-spice-regular {
    font-size: 4vw!important;
    text-align: center;
}

.navbutton {
    margin: 10px;
}

.mb-2 {
    font-size: 3vw!important;
}